services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: backend
    ports:  
      - "8000:8000"
    volumes:
      - ./backend:/app
      - ./media:/app/media
    env_file:
      - ./backend/.env
    depends_on:
      - db
    
  db: 
    image: postgres:16
    container_name: postgres
    restart: always
    env_file:
      - ./backend/.env
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"
  
  nginx:
    image: nginx:alpine
    container_name: nginx
    ports:
      - "80:80"
    depends_on:
      - backend
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - ./media:/app/media
      - ./backend/staticfiles:/app/staticfiles
volumes:
  pgdata:
